.dashContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    background: white;
    padding: 5px 10px;
    background-image: url(https://images.unsplash.com/photo-1590402494587-44b71d7772f6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    justify-content: space-evenly;
}

.dashCardContainer {
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}